
.header{
    height: 64px;
    box-shadow: 0 4px 5px #e4e4e4;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 20%;
}
.container.nav-menu{
    width: 80%;
    max-width: 100%;
}
.nav-menu{
    background: #5ec4e2;
    width:100%;
}
.nav-menu-list{
    display:flex;
    text-transform: uppercase;
    margin-left: 50px;
    a{
        color: white;
    }
}

.nav-item{
    height: 64px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: .9em;
    font-weight: 400;
}

.nav-item:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.33);
}